@import "./variables.scss";

.cd-laps-threshold {
	font-size: 1.5em;
	margin-bottom: 16px;
}

.cd-laps {
	list-style: none;
	margin: 16px 0 0 0;
	padding: 0;
	width: 100%;
	text-align: center;

	.cd-lap {
		font-size: 1.3em;
		&.exceeds-threshold {
			color: $danger-color;
		}
		label {
			font-size: 60%;
			display: inline-block;
			margin-right: 16px;
			vertical-align: middle;
			font-family: monospace;
		}
	}
}
