@import "./variables.scss";

.cd-timer-button {
	padding: 4px;
	margin: 4px 8px;
	background-color: transparent;
	color: $foreground-color;
	font-weight: bold;
	border: 1px solid;
	cursor: pointer;
	min-width: 80px;
	border-radius: 12px;
	transform: scale(1);
	transition: transform 0.1s ease-in-out;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:hover:enabled {
		background-color: $foreground-color;
		color: $background-color;
		transform: scale(1.2);
		transition: transform 0.1s ease-in-out;
	}

	&:focus {
		outline: none;
		background-color: $secondary-background-color;
	}
}
